source ./omnixrc

watch_file \
    ./omnixrc \
    nix/modules/flake-parts/nixpkgs.nix \
    nix/modules/flake-parts/om.nix \
    nix/modules/flake-parts/rust.nix \
    nix/modules/flake-parts/devshell.nix \
    ./crates/*/crate.nix \
    *.nix \
    rust-toolchain.toml \
    crates/omnix-init/registry/flake.*

# Dogfood our own ./omnixrc!
use omnix
