source ./doc/om/develop/omnixrc/v1

# We don't watch on `flake/*.nix` to avoid changes in modules not relevant to devShell triggering reload
watch_file \
    ./omnixrc \
    nix/modules/flake/nixpkgs.nix \
    nix/modules/flake/rust.nix \
    nix/modules/flake/devshell.nix \
    nix/envs/default.nix \
    ./crates/*/crate.nix \
    *.nix \
    rust-toolchain.toml \
    crates/omnix-init/registry/flake.*

# Dogfood our own ./omnixrc!
use omnix
