watch_file \
    nix/modules/nixpkgs.nix \
    nix/modules/rust.nix \
    nix/modules/devshell.nix \
    ./crates/*/crate.nix \
    *.nix \
    rust-toolchain.toml \
    crates/flakreate/registry/flake.*
use flake . --trace-verbose
